@import'~bootstrap/scss/bootstrap.scss';
@import'~@fontsource/lato/index.css';

body{
  font-family: $main-font;
  font-size: 10px;
}

//da eliminare
.container{
  width: 70%;
  
}

.center-container{
  width: 35%;
  display: flex;
  justify-content: center;
  
}

img{
  max-width: 100%;
  max-height: 100%;
}

.btn-small{
  padding: 6px 24px;
  background-color: $denim;
  color: white;
  border: none;
  border-radius: 15px;
}

i{
  color: white;
}
