@mixin flex($type) {
  display: flex;
  @if$type == 'between' {
    justify-content: space-between;
  } @else if $type == "center" {
    justify-content: center;
    align-items: center;
  }
}

@mixin background($type) {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
