//font family
$main-font: 'Lato' sans-serif;

//color palett
$lima: #69bf14;
$lima-darkVibrant: #6bbb14;
$oslo-gray: #93989b;
$denim: #1975c0;
$mercury: #e9e9e9;
$black: black;
$white: white;
$denim-vibrant: #1b74c3;
$hippi-green: #4c8d53;
$mantis: #8fce53;
$river-bed: #4d596a;
$shark: #292b2f;
$dove-gray: #6b6b6b;